/.m2
/GrandOrgue
/bin
/tmp
/.password-store/
/.cache
/.jitsi
/.config/chromium
/.config/Code
/.config/GIMP
/.config/transmission
/.config/nvim/bundle
/.config/libreoffice
/.config/filezilla
/.emacs.d
/.gnupg
/.zoom
/.cargo
/.lein
/.dvdcss
/.squirrel-sql
/.java
/.cinnamon
/.jabba
/.rustup
/.clojure
/.mozilla
/.oh-my-zsh
/.ssh
/.surf/cache
/.thunderbird
/.vscode
/.esd-auth
/.*_history
/.ICEauthority
/Running
/*.log
/.Xauthority
/.xsession-*
